<template>
  <div id="app">
  	<div class="main-container row clearfix">
  		<div class="place-area col-sm-8">
  			<table class="main-table">
  				<tr class="table-field">
    				<td @click="selectElement(place[0])" class="cell-area" v-for="place in places" :class="place[1]" :id="'cell-area-'+place[0]"> {{ place[0]%10 == 0? '10' : place[0]%10 }} </td>
  				</tr>
			</table>
  		</div>
  		<div class="summ-area col-sm-4">
  			<div class="button-area">
  				<button class="buy-button" @click="buySelected">Купить</button>
  				<button class="cancel-button" @click="cancelSelection">Отмена</button>
  			</div>  			
  			<p :class="chosenPlaces.length > 0 ? '' : 'hide'">Общая стоимость: {{  chosenPlaces.length * 100  }} руб.</p>
  			<p :class="chosenPlaces.length > 0 ? '' : 'hide'">Вы выбрали места:</p>
  			<p v-for="chosenPlace in chosenPlaces"> ряд {{ Math.floor((chosenPlace+9)/10) }}, место {{ (chosenPlace-1)%10 + 1 }} </p>
  		</div>
  	</div>  	
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
export default {
    name: 'app',
    data: function() {
      return {
        places: [],
        chosenPlaces: [] 
      }
    },
    methods: {
      selectElement: function(place) {
      	if (this.places[place-1][1] == 'busy') {
      		alert('Место занято, выберите из оставшихся свободных мест');
      	} else if (!this.places[place-1][2]) {
      		this.places[place-1][2] = true;
      		document.getElementById('cell-area-'+place).className = 'cell-area chosen';
      		this.chosenPlaces.push(place);
      	} else {
      		this.places[place-1][2] = false;
      		document.getElementById('cell-area-'+place).className = 'cell-area active';
      		for (var i = 0; i < this.chosenPlaces.length; i++) {
      			if (place == this.chosenPlaces[i]) {
      				this.chosenPlaces.splice(i, 1);
      			}
      		}
      	}
      },

      cancelSelection: function() {
      	for (var i = 0; i < this.chosenPlaces.length; i++) {
      		document.getElementById('cell-area-'+this.chosenPlaces[i]).className = 'cell-area active';
      		this.places[this.chosenPlaces[i]-1][2] = !this.places[this.chosenPlaces[i]-1][2];
      	}
      	this.chosenPlaces.splice(0, this.chosenPlaces.length);
      },
      
      buySelected: function() {
	    	if (this.chosenPlaces.length > 0) {
	    		for (var i = 0; i < this.chosenPlaces.length; i++) {
		      		document.getElementById('cell-area-'+this.chosenPlaces[i]).className = 'cell-area busy';
		      		this.places[this.chosenPlaces[i]-1][2] = !this.places[this.chosenPlaces[i]-1][2];
		      		this.places[this.chosenPlaces[i]-1][1] = 'busy';	      		
	      		}
	      		this.chosenPlaces.splice(0, this.chosenPlaces.length);
	      		alert("Спасибо за заказ!");
	    	} else {
	    		alert("Вы не выбрали ни одного места");
	    	}
      }      
    },

    mounted() {

      function rand(max, min, length){
				var result = [],
				resultSorted = [];
				if(typeof max !== 'number') return Math.random();
				if(typeof min !== 'number') return Math.floor(Math.random() * ++max);
				if(min > max) min = [max, max = min][0];    
				if(!length || typeof length !== 'number') return Math.floor(Math.random() * (max - min + 1)) + min;
				if(length > max - min + 1) throw new RangeError('invalid length.');
				for(var j = 0, random, index; j < length; j++, max--){
					random = Math.floor(Math.random() * (max - min + 1)) + min;
					for(index = j; index && resultSorted[index-1] <= random; index--) random++; 
					result.push(random);
					resultSorted.splice(index, 0, random);
				}
				return result;
	  	}

	  	var randomArray = rand(100, 1, 10);
      for (var i = 1; i <= 100; i++) {
      	if (randomArray.indexOf(i) == -1) {
      		this.places.push([i, 'active', false]);
      	} else {
      		this.places.push([i, 'busy', false]);
      	}      	   	
      }
    }
  }

</script>

<style scoped>

.place-area, .summ-area {
	float: left;
}

.main-container {
	max-width: 1440px;
	margin: 0px auto;
	position: relative;
	margin-top: 20px;
}

.cell-area {
	width: 10%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	border: solid 3px white;
	border-radius: 10px;
}

.table-field {
	display: flex;
	flex-wrap: wrap;
}

.main-table {
	width: 100%;
}

.busy {
	background-color: #ff6363;
}

.active {
	background-color: #7bb17b;
}

.chosen {
	background-color: #e0e02b;
}

.hide {
	display: none;
}

.buy-button, .cancel-button {
	border: solid 1px black;
	border-radius: 5px;
	padding: 2px 20px;
	cursor: pointer;
}

.buy-button:focus, .cancel-button:focus {
	outline: none;
}

.buy-button:hover {
	background-color: #7bb17b;
}

.cancel-button:hover {
	background-color: #ff6363;
}

.cancel-button {
	margin-left: 10%;
}

.button-area {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.summ-area p {
	margin-bottom: 10px;
}

</style>
